=c :donation_text, default: "Placeholder for donation page"
%h1 Offer your donation for this idea!
= form_for([@donation.feature.app, @donation.feature, @donation], url: app_feature_donations_path, method: 'post') do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2
        = pluralize(@donation.errors.count, 'error') 
        Not saved!
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :amount
    = f.text_field :amount
    = f.submit 'Donate!'

  = f.hidden_field :feature_id
  = f.hidden_field :user_id
