- content_for :scripts do
  :plain
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

#feature-list
  %h2 Latest donations
  - @latest_donations.each do |donation|
    .feature-suggestion
      .app-icon
        %img{:src => "/assets/sparkbox-icon.png" }
      .feature-details
        %p.feature-title
          %strong
            = donation.feature.name
          with
          %strong
            = "R$ #{donation.amount}"
        %p
          suggested by
          %strong
            = donation.user.name
          = image_tag donation.user.photo_url, class: "user-avatar"
          for
          = "R$ #{donation.feature.current_amount}"
        %p.date
          = "#{time_ago_in_words donation.created_at} ago"


#app-list
  %h2 Apps
  %ul
  - @apps.each do |app|
    %li.app
      = link_to app.name, app
      .logo.logo-small
        = image_tag app.logo.url(:medium)
