%h2
  = @app.name
= image_tag @app.logo.url(:medium)

%p
  = link_to @app.url
  = @app.description
  = image_tag @app.screenshot.url(:medium)

%h3 Features
- @app.features.each do |feature|
  %ul
    %li
      = link_to feature.description, app_feature_path(@app, feature)

%footer
  = link_to 'Back', apps_path
