%h2
  = @app.name

%p
  %a{ href: "#{@app.url}" }
    = @app.url

%h3 Features    
- @app.features.each do |feature|
  %ul
    %li
      = feature.description
      = link_to 'Donate!', app_feature_donations_path, method: :post

%footer
  = link_to 'Back', apps_path