%h2
  = @app.name

%p
  %a{ href: "#{@app.url}" }
    = @app.url

%h3 Features
- @app.features.each do |feature|
  %ul
    %li
      = link_to "#{feature.description}", app_feature_path(@app, feature)

%footer
  = link_to 'Back', apps_path