#app
  %section{:role => "header"}
    .logo.logo-big
      = image_tag @app.logo.url(:medium)
    %h2.title
      = @app.name
      = link_to @app.url
  %section{:role => "content"}
    .description
      .screen-shot
        = image_tag @app.screenshot.url(:medium)
      .text
        = @app.description

    .features
      %h3.title Desired Features

      %h4
        = link_to 'Suggest new feature now!', new_app_feature_path(@app)

      %ul
      - @app.features.each do |feature|
        %li.feature
          = link_to feature.name, app_feature_path(@app, feature)

  %footer
    = link_to 'Back', apps_path
