Congratulations! A feature your donated has been successfully financied.
%br

App: #{@feature.app.name}

%br
Feature: #{@feature.name}
%br
#{@feature.description}

%br
Amount funded: #{number_to_currency @feature.current_amount}/#{number_to_currency @feature.goal}

%br
Now give the app developers some time while they accomplish what they do best -- create awesomeness!
%br
%br
Sincerely,

%br
-
%br
Featurette Team
%br
%br
This app is brought to you by Cave Johnson Foundation.
%br
"Congratulations! The simple fact that you're standing here listening to me means you've made a glorious contribution to science."
