Congratulations! A feature your donated has been successfully financied.

App: #{@feature.app.name}

Feature: #{@feature.name}
#{@feature.description}

Amount funded: #{number_to_currency @feature.current_amount}/#{number_to_currency @feature.goal}

Now give the app developers some time while they accomplish what they do best -- create awesomeness!

Sincerely,

-
Featurette Team

This app is brought to you by Cave Johnson Foundation.
"Congratulations! The simple fact that you're standing here listening to me means you've made a glorious contribution to science."
