= form_for([@app, @feature]) do |f|
  - if @feature.errors.any?
    #error_explanation
      %h2
        = pluralize(@feature.errors.count, 'error') 
        Not saved!
      %ul
        - @feature.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :name
    = f.text_field :name

  = f.fields_for :first_donation do |ff|
    .field
      = ff.label :amount
      = ff.number_field :amount
    
    .field
      = ff.label :user_id
      = ff.number_field :user_id

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :user_id
    = f.number_field :user_id

  .actions
    = f.submit
