#top
  #app-logo
    = image_tag @feature.app.logo.url
  %h1
    %stong
      = @feature.name
  
  %h2 
    %span for
    %storng
      = @feature.app.name

#feature-state
  .status
    = render @feature.state, feature: @feature

#user-info
  #user-pic
    %img{ src: "#{@feature.user.photo_url}" }
  #user-name
    Suggested by 
    %strong= "#{@feature.user.name}"

%article.feature-description
  %p
    = @feature.description

  #donate
    = link_to 'Donate!', new_app_feature_donation_path(@feature.app, @feature)
