/utf-8
!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title= yield(:title) + "Featurette"

    %link{:href => "/favicon.png", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = javascript_include_tag "application", :type => nil
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'XXXXX-XXXX']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  %body{:id => controller.controller_name}
    %header
      .wrap
        #logo<
          %h1
            = link_to "Featurette", root_url

        #masthead
          - if current_user
            .user
              .picture
                %img{ src: "#{current_user.photo_url}" }
              .name
                = current_user.name
              .logout
                = link_to "Logout", logout_path
          - else
            .login-button
              = link_to "Access with Facebook", "/auth/facebook", :id => "facebook-connect"

    .messages
      - if notice
        %p.notice
          = notice
      - if alert
        %p.alert
          = alert

    .wrap
      .content

      %section{:role => "main"}
        = yield

      - if content_for?(:sidebar)
        %aside
          = yield(:sidebar)
      %footer
        %p
        #twitter
          %a.twitter-share-button{"data-hashtags" => "featurette,StartupDevRumble", "data-size" => "large", "data-text" => "Featurette - Suggest features you want to the Apps you love!", "data-url" => "http://199.231.86.38/", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %p
          = "Copyright &copy; 2012 Cave Johnson Foundation".html_safe
