!!! 5
%html{:lang => "pt"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "description", :content => ""}

    %title= yield(:title) + "Featurette"

    %link{:href => "/favicon.png", :rel => "shortcut icon"}
    = yield(:header_tags)

    = stylesheet_link_tag "application", :type => nil, :media => "all"
    = javascript_include_tag "application", :type => nil
    = csrf_meta_tags

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'XXXXX-XXXX']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

  %body{:id => controller.controller_name}
    %header
      .wrap
        #logo<
          %h1
            = link_to "Featurette", root_url

        - if notice
          %p.notice
            = notice
        - if alert
          %p.alert
            = alert
        #masthead
          - if current_user
            %p
              Welcome
              %strong
                = current_user.name
              &bull;
              = link_to "Logout", logout_path
          - else
            %p
              = link_to "Acess with Facebook", "/auth/facebook", :id => "facebook-connect"

    .wrap
      %section{:role => "main"}
        = yield

      - if content_for?(:sidebar)
        %aside
          = yield(:sidebar)
      %footer
        %p
          = "Copyright &copy; 2012 Cave Johnson - We use Sendgrid!".html_safe
          